* {
  box-sizing: border-box;
}

body {
  background-color: #2D365B;
  width: 100%;
}

table {
  width: 100%;
}

h1, h2 {
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

a {
  color: hsl(204, 86%, 53%);
  
  &:hover {
    color: lighten(hsl(204, 86%, 53%), 10%);
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
