* {
  box-sizing: border-box;
}

body {
  background-color: #2D365B;
}

table {
  width: 100%;
}

h1, h2 {
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

//.app {
//  text-align: center;
//  margin-top: 40px;
//  margin-right: 40px;
//  width: 1100px;
//  max-width: 100%;
//  box-shadow: black 2px 2px 10px;
//  background-color: darken(#2D365B, 5);
//  z-index: 1000;
//}
