// Extra large devices (large desktops, 1200px and up)
$xlarge: 1200px;
// Large devices (desktops, 992px and up)
$large: 992px;
// Medium devices (tablets, 768px and up)
$medium: 768px;
// Small devices (landscape phones, 576px and up)
$small: 576px;